In [1]:
import requests # Bibliotek som håndterer spørringer
import ast # Leser en tekstfil med spørringen til json format
import os # Sets up folders and paths
import json
from pyjstat import pyjstat

In [9]:
url = r'https://data.ssb.no/api/v0/no/table/07459'
qjson = r'spørringer/07459.json'
qtext = r"spørringer/07459.txt"

In [ ]:
with open(qtext, "r") as file:
    json_query = ast.literal_eval(file.read())

In [10]:
with open(qjson) as jsonfile:  
    json_query = json.load(jsonfile)

In [11]:
x = requests.post(url, json=json_query)

In [12]:
x.status_code

200

In [ ]:
x.text

In [13]:
# Les til json-stat2 format fra spørring
ds = pyjstat.Dataset.read(x.text)

In [14]:
df = ds.write('dataframe')

In [15]:
df.head()

        region    kjønn   alder statistikkvariabel    år   value
0  Hele landet     Menn  0-5 år           Personer  2014  192876
1  Hele landet     Menn  0-5 år           Personer  2021  176875
2  Hele landet  Kvinner  0-5 år           Personer  2014  182868
3  Hele landet  Kvinner  0-5 år           Personer  2021  166889
4     Vestland     Menn  0-5 år           Personer  2014       0

In [ ]:
## print("Skriver {}.csv til datalager".format('07459JSONtest'))
# Skriv innhold til csv fil (teams)
with open('07459_1.csv', 'wb') as fd:
    for chunk in x.iter_content(chunk_size=128):
        fd.write(chunk)